*{
  margin: 0;
  padding: 0;
  font: 19px Arial,sans-serif;
}
.content{
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
h1{
  padding-bottom: 30px;
  font-size: 22px;
  text-align: center;
}
legend{
  padding-top: 10px;
  padding-bottom: 15px;
}
label{
  font-size: 16px;
  display: block;
  width: 200px;
  padding-bottom: 5px;
  padding-left: 25px;
  cursor: pointer;
}
input[type='checkbox'] {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  cursor: pointer;
  vertical-align: top;
  background-color: #c9e4f9;
}
label>span{
  padding-left: 5px;
}
button{
  display: block;
  width: 330px;
  height: 52px;
  margin: 50px auto;
  cursor: pointer;
  border: 2px solid #000;
  background-color: #cfe2f3;
}